.menuBlock {
  position: fixed;
  top: 0;
  left: -10em;
  width: 10em;
  height: 100vh;
  background: #999;
  z-index: 100;
}
main {
  position: fixed;
  top: 0;
  left: 0em;
  right: 0;
  height: 100vh;
  background: #333;
  color: #fff;
}
.toggleButton {
  position: absolute;
  top: 0.2em;
  right: 0.2em;
  font-size: 2em;
}
.toggleButton:hover {
  cursor: pointer;
}
