html {
  background-color: #d8d0b6;
}

body {
  margin: 0;
  font-family: sans-serif;
  /*letter-spacing: .1em;*/
  color: #513a26;
  line-height: 1.4em;
  /*overflow: hidden;*/
}

main {
  margin: 4em 4em 0 5em;
  /*text-indent: 2em;            */
  box-sizing: border-box;
}

.menu {
  position: fixed;
  top: 0;
  left: -12em;
  width: 12em;
  height: 100vh;
  box-sizing: border-box;
  border-right: 1px dotted #999;
  background-color: #999;
  transition:
    left 1s,
    background 2s;
}

.navigation {
  margin-top: 3em;
}

.navigation a {
  display: block;
  margin: 0 0 1em 1em;
  font-weight: bold;
  color: #fff;
}

/* бутона за менюто */
.toggle_menu_button {
  position: fixed;
  top: 0.8em;
  left: 0;
  cursor: pointer;
  color: #fae4a5;
  z-index: 9999;
  animation-name: twist;
  animation-duration: 1s;
}

/*по-малък бутон, когато менюто е видимо*/
.toggle_menu_button_small {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  padding: 0.1em 0.5em;
  color: #fff;
  border: 1px dotted #fff;
}

.toggle_menu_button_small:hover {
  cursor: pointer;
}

.toggle_menu_button:before {
  display: inline-block;
  content: "\224b";
  font-size: 3em;
  margin: 0.1em 0 0 0.5em;
  text-shadow:
    -1px 1px #555,
    -2px 2px #444,
    -3px 3px #333;
  transition: 1s;
}

@keyframes twist {
  10%,
  90% {
    transform: translate3d(4px, 0px, 0);
  }

  20%,
  80% {
    transform: translate3d(0px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(4px, -0px, 0);
  }

  40%,
  60% {
    transform: translate3d(0px, 0, 0);
  }
}

@keyframes slowShow {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
